*{
    padding: 0;
    margin: 0;
    text-decoration: 0;

}
body{
    background-color: #0000;
}

header{
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 800px;
}
header img{
    width: 90px;
}

nav{
    display: flex;
    gap: 15px;
}
section img {
    width: 550px;
}
